h1 {font-family: serif;color:#009999;font-style:italic;font-size:35px;padding:35px}
@font-face {font-family:"SourceSerifPro-regular";src: url("/fonts/SourceSerifPro-regular.otf")format(:opentypeface);}
.header {
padding:45px;
text-align: center;
background: #FF5733;
color:white ;
font-size:50px
}
img {float:right}
p {font-family: "SourceSerifPro-regular";src: url("/fonts/SourceSerifPro-regular.otf")format(:opentypeface),serif;text-align:left;color:#f9330f;font-size:18px;padding:35px}

footer {    

   position: fixed;

   left: 0;

   bottom: 0;

   width: 100%;

   background-color:antiquewhite;

   color: black;

   text-align: center;

        }